---
layout: default
title: GitLab's Guide to the Support Engineer Job Family
description: Being a Support Engineer at GitLab in an environment where Support and Engineering meet
extra_css:
  - job-family.css
---

.content-container.job-family
  .wrapper.container{ role: "main" }
    .row
      .col-md-12
        %h2.job-family-title.text-center Support Engineer at GitLab
        .job-family-blurb GitLab is building an open source, single application for the entire software development lifecycle—from project planning and source code management to CI/CD, monitoring, and security.

    .row
      .col-md-12
        .job-family-blurb
          :markdown
            At GitLab, we live and breathe open source principles. This means our entire [handbook](https://about.gitlab.com/handbook/) is online, and with a few clicks, you can find the details of [future releases](https://about.gitlab.com/direction/#future-releases), check out our [past releases](https://about.gitlab.com/releases/), and see some of the [customers you’d be supporting while working here](https://about.gitlab.com/customers/).

            This team is 100% remote.

            Support Engineering at GitLab isn’t just a title - those who occupy this role are embedded within the Engineering department and truly operate in an environment where Support and Engineering meet. You’ll interact with customers daily as they encounter the difficult edge cases of running GitLab in complex environments. In the space of a day, you might be doing behind the scenes work of a Linux administrator troubleshooting performance problems by using strace on a particular process, interacting with the Product team to ensure that steps in a bug report are reproducible, or interacting with the Engineering team itself by diving deep into our codebase and putting together a merge request to actually fix a customer issue. That’s not all though - you’d equally be invited to improve our documentation, help build out more efficient support processes in our issue tracker, and dive into the cutting edge technologies that will define how we will do work tomorrow. We want to live in a world where [everyone can contribute](https://about.gitlab.com/handbook/values/#mission), and as a member of the support team, there are no barriers to using your skills to improve the experience of our users and customers.

    %hr.solid

    .row
      .col-md-12
        %figure.video_container
          %iframe{:src => "https://www.youtube.com/embed/fLTs1oiKabI"}

    .row.job-family-card-group
      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Support Engineer
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/job-families/engineering/support-engineer/#what-you-can-expect-in-a-support-engineer-role-at-gitlab" } Get to know the role
              %li
                %a{ href: "/job-families/engineering/support-engineer/#support-engineering-areas-of-focus" } Areas of Focus
              %li
                %a{ href: "/job-families/engineering/support-engineer/#requirements" } Requirements
              %li
                %a{ href: "/job-families/engineering/support-engineer/#performance-indicators" } Performance Indicators
              %li
                %a{ href: "/job-families/engineering/support-engineer/#hiring-process" } Hiring Process
              %li
                %a{ href: "/job-families/engineering/support-engineer/?comparatio=Compa+Ratio+range&level=Support+Engineer#compensation" } Compensation

      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Senior Support Engineer
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/job-families/engineering/support-engineer/#senior-support-engineer" } Get to know the role
              %li
                %a{ href: "/job-families/engineering/support-engineer/#support-engineering-areas-of-focus" } Areas of Focus
              %li
                %a{ href: "/job-families/engineering/support-engineer/#requirements" } Requirements
              %li
                %a{ href: "/job-families/engineering/support-engineer/#performance-indicators" } Performance Indicators
              %li
                %a{ href: "/job-families/engineering/support-engineer/#hiring-process" } Hiring Process
              %li
                %a{ href: "/job-families/engineering/support-engineer/?comparatio=Compa+Ratio+range&level=Senior+Support+Engineer#compensation" } Compensation

      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Staff Support Engineer
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/job-families/engineering/support-engineer/#staff-support-engineer" } Get to know the role
              %li
                %a{ href: "/job-families/engineering/support-engineer/#support-engineering-areas-of-focus" } Areas of Focus
              %li
                %a{ href: "/job-families/engineering/support-engineer/#requirements" } Requirements
              %li
                %a{ href: "/job-families/engineering/support-engineer/#performance-indicators" } Performance Indicators
              %li
                %a{ href: "/job-families/engineering/support-engineer/#hiring-process" } Hiring Process
              %li
                %a{ href: "/job-families/engineering/support-engineer/?comparatio=Compa+Ratio+range&level=Staff+Support+Engineer#compensation" } Compensation
