---
layout: default
title: GitLab's Guide to the Support Management Job Family
description: Being a Support Manager at GitLab in an environment where Support and Engineering meet and everyone can contribute
extra_css:
  - job-family.css
---

.content-container.job-family
  .wrapper.container{ role: "main" }
    .row
      .col-md-12
        %h2.job-family-title.text-center Support Engineering Manager at GitLab
        .job-family-blurb GitLab is building an open source, single application for the entire software development lifecycle—from project planning and source code management to CI/CD, monitoring, and security.

    .row
      .col-md-12
        .job-family-blurb
          :markdown
            GitLab is building an open source, single application for the entire software development lifecycle—from project planning and source code management to CI/CD, monitoring, and security.

            Support Engineering Management at GitLab isn’t your typical management opportunity because of our approach to the function. Support is embedded within the Engineering department and truly operates in an environment where Support and Engineering meet. Your team will be interacting with customers daily as they encounter the difficult edge cases of running GitLab in complex environments.

            At GitLab, we hold that [managers should be technically competent and experienced in the subject matter](https://about.gitlab.com/handbook/leadership/#no-matrix-organization). So, it would be your job to use your technical expertise to support all of those moving pieces - including stepping into the shoes of a Support Engineer when needs be.

            We want to live in a world where [everyone can contribute](https://about.gitlab.com/handbook/values/#mission), and as a member of the support team there are no barriers to using your skills to improve the experience of our users, our customers and importantly the folks you’d be supporting as a manager.

    %hr.solid

    .row.job-family-card-group
      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Support Engineering Manager
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/job-families/engineering/support-management" } Get to know the role
              %li
                %a{ href: "/job-families/engineering/support-management/#what-you-can-expect-in-a-support-engineering-manager-role-at-gitlab" } What you will do
              %li
                %a{ href: "/job-families/engineering/support-management/#you-should-apply-if" } You should apply if
              %li
                %a{ href: "/job-families/engineering/support-management/#projects-you-might-work-on" } Projects you might work on
              %li
                %a{ href: "/job-families/engineering/support-management/#performance-indicators" } Performance indicators
              %li
                %a{ href: "/job-families/engineering/support-management/#hiring-process" } Hiring process
              %li
                %a{ href: "/job-families/engineering/support-management/?comparatio=Compa+Ratio+range&level=Staff/Manager,+Engineering#compensation" } Compensation

      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Senior Support Engineering Manager
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/job-families/engineering/support-management" } Get to know the role
              %li
                %a{ href: "/job-families/engineering/support-management/#senior-support-engineering-manager" } What you will do
              %li
                %a{ href: "/job-families/engineering/support-management/#requirements" } You should apply if
              %li
                %a{ href: "/job-families/engineering/support-management/#projects-you-might-work-on" } Projects you might work on
              %li
                %a{ href: "/job-families/engineering/support-management/#performance-indicators" } Performance indicators
              %li
                %a{ href: "/job-families/engineering/support-management/#hiring-process" } Hiring process
              %li
                %a{ href: "/job-families/engineering/support-management/?comparatio=Compa+Ratio+range&level=Senior+Manager,+Engineering#compensation" } Compensation

      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Director of Support
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/job-families/engineering/support-management" } Get to know the role
              %li
                %a{ href: "/job-families/engineering/support-management/#director-of-support" } What you will do
              %li
                %a{ href: "/job-families/engineering/support-management/#hiring-process" } Hiring process
              %li
                %a{ href: "/job-families/engineering/support-management/?comparatio=Compa+Ratio+range&level=Director+/+Distinguished#compensation" } Compensation

      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title VP of Support
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/job-families/engineering/support-management" } Get to know the role
              %li
                %a{ href: "/job-families/engineering/support-management/#vp-of-support" } What you will do
              %li
                %a{ href: "/job-families/engineering/support-management/#hiring-process" } Hiring Process
