---
layout: default
title: GitLab's Guide to the Recruiting Operations and Insights Job Family
extra_css:
  - job-family.css
---

.content-container.job-family
  .wrapper.container{ role: "main" }
    .row
      .col-md-12
        %h2.job-family-title.text-center Recruiting Operations and Insights at GitLab
        .job-family-blurb The Recruiting Operations and Insights job family supports and optimizes the Recruiting Team, supports the Hiring Teams and coordinates reporting efforts. They search for ways to streamline and automate processes and are data focused.
    %hr.solid

    .row.job-family-card-group
      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Recruiting Operations Coordinator
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#recruiting-operations-coordinator" } Get to know the role
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#responsibilities" } Responsibilities
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#requirements" } Requirements
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#performance-indicators" } Performance Indicators
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#hiring-process" } Hiring Process

      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Recruiting Insights Analyst
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#recruiting-insights-analyst" } Get to know the role
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#responsibilities-1" } Responsibilities
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#requirements-1" } Requirements
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#performance-indicators-1" } Performance Indicators
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#hiring-process-1" } Hiring Process

      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Senior Recruiting Program Analyst
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#senior-recruiting-program-analyst" } Get to know the role
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#responsibilities-2" } Responsibilities
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#requirements-2" } Requirements
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#performance-indicators-2" } Performance Indicators
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#hiring-process-2" } Hiring Process

      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Manager, Recruiting Operations
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#manager-recruiting-operations" } Get to know the role
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#responsibilities-3" } Responsibilities
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#requirements-3" } Requirements
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#performance-indicators-3" } Performance Indicators

      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Senior Manager, Recruiting Operations and Insights
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#senior-manager-recruiting-operations-and-insights" } Get to know the role
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#responsibilities-4" } Responsibilities
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#requirements-4" } Requirements
              %li
                %a{ href: "/job-families/people-group/recruiting-operations-insights/#performance-indicators-4" } Performance Indicators
